
_cgo_defun.c
_cgo_export.*
_cgo_gotypes.go
_obj
_test
_testmain.go
.DS_Store
[568vq].out
*.[568vq]
*.a
*.cgo1.go
*.cgo2.c
*.exe
*.o
*.prof
*.so
*.test
# Architecture specific extensions/prefixes
# Compiled Object files, Static and Dynamic libs (Shared Objects)
# Folders
node_modules
target
